<div class="container articles recent first">
	<h3>Articles récents</h3>
	{% for post in posts %}
		<h4>{{post.titre}}</h4>

		<div class="date article-recent first">
			<span>
				{{post.date|date('d/m/Y')}}</span>
		</div>

		<img src="{{asset('images/' ~ post.image )}}" alt="{{post.alt}}"/>

		<div class="article first description">
			{{post.description}}</div>
		<div class="read-more">
			<span>
				<a href="#">Continuer à lire</a>
			</span>
		</div>
		<div class="icon reseaux-sociaux">
			<a href="#">
				<i class="fa-brands fa-facebook-f"></i>
			</a>
			<a href="#">
				<i class="fa-brands fa-pinterest-p"></i>
			</a>
			<a href="#">
				<i class="fa-regular fa-envelope"></i>
			</a>
		</div>
	{% endfor %}
</div>
