<div class="menu-home">
	<div class="nav-container">
		<ul>
			<li>
				<a href="{{path('app_home')}}">ACCUEIL</a>
			</li>
			<li>
				<a href="#">DESTINATIONS</a>
			</li>
			<li>
				<a href="#">CONSEIL & ASTUCES</a>
			</li>
			<li>
				<a href="#">À PROPOS</a>
			</li>

		</ul>

		{% if app.user and 'ROLE_ADMIN' in app.user.roles %}
			<div class="login-nav nav-un">
				<li>
					<a href="{{path('app_logout')}}">Deconnexion</a>
				</li>
				<li class="admin nav">
					<a href="{{path('app_users')}}">Admin</a>
				</li>
			</div>
		{% elseif app.user %}
			<div class="login-nav">
				<li>
					<a href="{{path('app_logout')}}">Deconnexion</a>
				</li>
			</div>
		{% else %}
			<div class="login-nav nav-un">

				<li>
					<a href="{{path('app_inscription')}}">Inscription</a>
				</li>

				<li>
					<a href="{{path('app_login')}}">Connexion</a>
				</li>
			</div>
		{% endif %}
	</div>
</div>
