{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Articles
	<a class="btn btn-success" href="{{ path('app_posts_new') }}">Créer un article</a>

	<a href="{{ path('app_post_export') }}" class="btn btn-secondary">Export Excel</a>

{% endblock %}

{% block body %}

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Auteur</th>
				<th>Image</th>
				<th>Titre</th>
				<th>Description</th>
				<th>Contenu</th>
				<th>Slug</th>
				<th>Date</th>
				<th>Visible</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for post in pagination %}
				<tr>
					<td>{{ post.id }}</td>
					<td>{{ post.auteur }}</td>
					<td><img src="{{asset('images/' ~ post.image)}}" alt="{{post.image}}" width="150px" height="150px"></td>
					<td>{{ post.titre }}</td>
					<td>
						<div class="show-wrapper">
							<div class="show-description">{{ post.description }}</div>
						</div>
					</td>
					<td>
						<div class="show-wrapper">
							<div class="show-content">{{ post.content|raw }}</div>
						</div>
					</td>

					<td>{{ post.slug }}</td>
					<td>{{  post.date|date('d/m/Y ') }}</td>
					<td>{{ post.visible ? 'Oui' : 'Non' }}</td>

					<td>
						<a href="{{ path('app_posts_show', {'id': post.id}) }}">Voir</a>
						<a href="{{ path('app_posts_edit', {'id': post.id}) }}">Modifier</a>

						<form method="post" action="{{ path('app_posts_delete', {'id': post.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
							<button class="btn btn-danger">Supprimer</button>
						</form>
					</td>
				</tr>
			{% endfor %}


		</tbody>

	</table>
	{{ knp_pagination_render(pagination, 'pagination/materialize_pagination.html.twig' ) }}

{% endblock %}
