{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Posts
{% endblock %}

{% block body %}


	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ post.id }}</td>
			</tr>
			<tr>
				<th>Auteur</th>
				<td>{{ post.auteur }}</td>
			</tr>
			<tr>
				<th>Image</th>
				<td><img src="{{ asset('images/' ~ post.image) }}" alt="{{ post.image }}" width="100"></td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ post.titre }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ post.description }}</td>
			</tr>
			<tr>
				<th>Contenu</th>
				<td>{{ post.content }}</td>
			</tr>
			<tr>
				<th>Slug</th>
				<td>{{ post.slug }}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{ post.date ? post.date|date('d-m-Y ') : '' }}</td>
			</tr>
			<tr>
				<th>Visible</th>
				<td>{{ post.visible ? 'Yes' : 'No' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_posts_index') }}">Retour à la liste des articles !</a>

	<form method="post" action="{{ path('app_posts_delete', {'id': post.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
		<button class="btn btn-danger">Delete</button>
	</form>
{% endblock %}
